*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.containet{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url("sahra.jpg");
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 110px;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 14px;
    padding: 15px 25px;
    box-sizing: border-box;
   
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.6s;
}
.card1{
    background-image: url(luxor.jpeg);
}
.card2{
    background-image: url(res4.jpg);
}
.card3{
    background-image: url(hot.jpg);
}
.card4{
    background-image: url(back1.jpg);
}
.card:hover{
    transform: translateY(-10px); 
}
h5{
    color: #fff;
  
}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}